.toggle {
  position: fixed;
  bottom: 4%;
  left: 4%;
}
.fab {
  color: #fff;
  background: #4b6cb7; 
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  
  background: linear-gradient(to right, #182848, #4b6cb7); 
}
.fabDark {
  color: #4b6cb7;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  
}