html,
body {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: Roboto, 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
}

.mdc-theme--dark {
  color: #fff;
  background-color: #333;
}
.mdc-list {
  padding: 0;
  padding-left: 16px;
  padding-right: 24px;
}
.mdc-list-item {
  justify-content: space-between;
  margin: 6px 0;
}
.mdc-list--two-line .mdc-list-item {
  height: 84px;
}
.mdc-card__media {
  padding-top: 0;
  padding-bottom: 0;
}
.mdc-card__media-item {
  margin: 0;
  height: 142px;
}
.mdc-textfield__input {
  color: #fff;
  background: #182848;
}
.margin-top-104px {
  margin-top: 104px;
}
.random-btn {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}
.badge {
  padding-right: 6px;
}
.expPanel {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
  border: none;
  margin: 2px 0;
  background: transparent;
}
.expPanel .title {
  color: inherit;
}
.expPanel .title .text {
  margin-left: 0px;
}
.expPanel .panelContent {
  padding: 12px 8px;
}
.expPanel .actionButtonBar {
  border: none;
  padding: 8px;
}
.expPanel.active .panelTitle {
  background: transparent;
}
.expPanel .expIcon {
  border: none;
  outline: none;
  background: transparent;
}

.toolbar {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7);
}
.search-input {
  color: #fff;
}
.desc {
  position: absolute;
  top: 2%;
  right: 4%;
  color: #fff;
}
.return-fab {
  position: fixed;
  bottom: 4%;
  right: 6%;
}